{% extends "base.html" %}

{% block content %}


<div style="margin-top:30px;" class="container">
    <form action="" class="form-horizontal" method="GET">
        <div class="form-group">
            {{ form.as_p }}
        </div>
        <div class="row col-6">
            <input type="submit" class="form-control" value="Generate!">
        </div>
    </form>
</div>

<div style="margin-top:30px;" class="container">
    <h2>Personal data</h2>
    <table class="table table-hover ">
        <tr>
            <th style="width: 40%">First name</th>
            <td>{{ first_name }}</td>
        </tr>
        <tr>
            <th>Last name</th>
            <td>{{ last_name }}</td>
        </tr>
        <tr>
            <th>Telephone number</th>
            <td>{{ phone_number }}</td>
        </tr>
        <tr>
            <th>Birth date</th>
            <td>{{ birth_date }}</td>
        </tr>
        <tr>
            <th>PESEL number</th>
            <td>{{ pesel }}</td>
        </tr>
    </table>
</div>

<div class="container">
    <h2>Address data</h2>
    <table class="table table-hover">
        <tr>
            <th style="width: 40%">Street</th>
            <td>{{ street_name }}</td>
        </tr>
        <tr>
            <th>House / flat number</th>
            <td>{{ house_number }}</td>
        </tr>
        <tr>
            <th>Post code</th>
            <td>{{ post_code }}</td>
        </tr>
        <tr>
            <th>City / town</th>
            <td>{{ city }}</td>
        </tr>
        <tr>
            <th>County</th>
            <td>{{ county }}</td>
        </tr>
        <tr>
            <th>Voivodeship</th>
            <td>{{ voivodeship }}</td>
        </tr>
    </table>
</div>

{% endblock content %}