{% extends "base.html" %}

{% block content %}

{% if not exported %}
<div style="margin-top:30px;">
    <form action="." method="GET">
        <p>Enter the number of people to generate</p>
        {% csrf_token %}
        <div style="margin-top:10px;"><input type="number" name="entries" placeholder="Liczba osób do wygenerowania" />
        </div>
        <div style="margin-top:30px;"><button type="button"> Export to csv file</button></div>
    </form>
</div>
{% else %}
<p>Data has been exported to file</p>

{% endif %}

{% endblock content %}