{% extends "base.html" %}

{% block content %}
<div style="margin-top:30px;">
    <form action="" method="GET">
        {{ form }}
        <input type="submit" value="Generate!">
    </form>
</div>

<div>
    <h2>Personal data</h2>
    <p>First name: {{ first_name }}</p>
    <p>Last name: {{ last_name }}</p>
    <p>Telephone number: {{ phone_number }}</p>
    <p>Birth date: {{ birth_date }}</p>
    <p>PESEL number: {{ pesel }}</p>
</div>

<div>
    <h2>Address data</h2>
    <p>Street: {{ street_name }}</p>
    <p>House / flat number: {{ house_number }}</p>
    <p>Postcode: {{ post_code }}</p>
    <p>City / town: {{ city }}</p>
    <p>County: {{ county }}</p>
    <p>Voivodeship: {{ voivodeship }}</p>
</div>

{% endblock content %}